@import "./core/color.scss";
@import "./core/base.scss";
@import "./core/mixin.scss";
@import "./core/functions.scss";

@import "./common/login.scss";
@import "./common/topHeader.scss";
@import "./common/mainHeader.scss";
@import "./common/navigation.scss";
@import "./common/card.scss";

@import "./home/mainbanner.scss";
@import "./home/categoryItem.scss";
@import "./home/advt.scss";
@import "./home/carousel.scss";
@import "./home/otherpage.scss";

@import "./details/details.scss";
