$font: "Nunito Sans", sans-serif;

$transparent: transparent;
$white: #ffffff;
$black: #000000;
$red: #ff0000;
$green: #0c8d23;

$topcol: #3f3f3f;
$searchic: #1a1a1a;
$btn: #dc181f;
$hoverbg: #fff0f0;
$topbg: #ececec;
$price: #858585;
$border: #c8c8c8;
$lborder: #d6d6d6;
$bgcategory: #b9b9b9;
$bgnewcatg: #f5f5f5;
$btnLight: #fff3f3;
